<div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Main admin page</h1>
        <p class="col-md-8 fs-4">Controlling Blog Posts and Categories.</p>
        <a href="/admin/posts">
            <button class="btn btn-primary btn-lg mt-2" type="button">Control Post</button>
        </a>
        <a href="/admin/categories">
            <button class="btn btn-primary btn-lg mt-2" type="button">Control Category</button>
        </a>
      </div>
</div>